import pandas as pd
import os
pd.set_option('display.max_rows', 10)
pd.__version__

def read_excel(filename):
    try:
        df = pd.read_excel(filename, header=1)
    except Exception as e:
        print(f"cannot read {filename}. Error: {e}")
    return df

Make a series of row in the df, int/float

df.iloc[:, 15:] = df.iloc[:, 15:].astype(float)

Extracting year from a date string with regex

df['year']= df['date'].str.extract(r'(\d{4})')

or....

ff['Year'] = pd.to_datetime(ff['Ημερ/νία Έναρξης']).dt.year

# Inspection

Print multiple rows of a specific column in a data frame from a specific row to another without typing each one

print(df.loc[1:1720,'column1'])

Find English characters

In [1]:
def isEnglish(s):
  return s.isascii()

print(isEnglish("Test"))
print(isEnglish("ΑΛΙΑΡΤΟΥ"))

True
False

give me only rows where value is 'Kelly'

df[df.name=='Kelly']

give me only rows where a 'Kel' is contained within string value

df[df.column1.str.contains('Kel',na=False)]

## For merge()

In merge(), you can specify the names of the key columns in the left and right DataFrames separately using the left_on and right_on parameters, if the columns you want to merge have different names.

merge(left_on='column1', right_on='column2')

For keeping all the rows when merging a df and there are some that don't megre correctly

how='outer'

# Cleaning

For cleaning names in a df

def strip_rows(data):
    return data.replace(r'(ΔΗΜΟΣ?\s+)','', regex=True)\
                .replace(r'( - )','-', regex=True)\
                .replace(r'(\s{2,})',' ', regex=True)\
                .replace(r'(^\s*)','', regex=True)\
                .replace(r'(^A)','Α', regex=True)

For getting rid of wrong spacing in names

skipinitialspace = True

To get rid of the rows with only nan values

na_filter=False

In [ ]:
master[master['municipality'].str.contains('ΦΙΛΑΔΕΛΦΕΙΑΣ', na=False)]