In [ ]:
import pandas as pd
import os
import re
import matplotlib.pyplot as plt 
import numpy as np 
import requests

#set ups
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

%matplotlib inline

def read_excel(filename):
    try:
        df = pd.read_excel(filename, header=1)
    except Exception as e:
        print(f"cannot read {filename}. Error: {e}")
    return df

Make a series of row in the df, int/float

df.iloc[:, 15:] = df.iloc[:, 15:].astype(float)

Extracting year from a date string with regex

df['year']= df['date'].str.extract(r'(\d{4})')

or....

ff['Year'] = pd.to_datetime(ff['Ημερ/νία Έναρξης']).dt.year

For API requests

import requests
import json

api_response = requests.get('https://jsonplaceholder.typicode.com/todos')
print(api_response.status_code)
data = api_response.text
parse_json = json.loads(data)

print("Todos:", parse_json)

# Inspection

df.shape but different

row.count= len(df1)
row.count

Print multiple rows of a specific column in a data frame from a specific row to another without typing each one

print(df.loc[1:1720,'column1'])

Find English characters

In [1]:
def isEnglish(s):
  return s.isascii()

print(isEnglish("Test"))
print(isEnglish("ΑΛΙΑΡΤΟΥ"))

True
False

give me only rows where value is 'Kelly'

df[df.name=='Kelly']

give me only rows where a 'Kel' is contained within string value

df[df.column1.str.contains('Kel',na=False)]

## For merge()

### Default

df1 = pd.merge(df1,df2, on=column1, how='left')

In merge(), you can specify the names of the key columns in the left and right DataFrames separately using the left_on and right_on parameters, if the columns you want to merge have different names.

merge(left_on='column1', right_on='column2')

When merging two datasets and sticking the right to the left:

how = 'left'

When merging two datasets and sticking the left to the right:

how = 'right'

When merging two datasets based on their common inner values

how = 'inner'

For keeping all the rows when merging a df and there are some that don't merge correctly

how = 'outer'

# Cleaning

For cleaning names in a df

def strip_rows(data):
    return data.replace(r'(ΔΗΜΟΣ?\s+)','', regex=True)\
                .replace(r'( - )','-', regex=True)\
                .replace(r'(\s{2,})',' ', regex=True)\
                .replace(r'(^\s*)','', regex=True)\
                .replace(r'(^A)','Α', regex=True)

For getting rid of wrong spacing in names

skipinitialspace = True

Getting rid of a specific row

df.rename(columns=df.iloc[1])

To get rid of the rows with only nan values

In [ ]:
na_filter=False

In [ ]:
master[master['municipality'].str.contains('ΦΙΛΑΔΕΛΦΕΙΑΣ', na=False)]

Keeping the year from the date

In [ ]:
oct_df['date'] = pd.to_datetime(oct_df['DATA'])

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y', dayfirst=True)

In [ ]:
df['year'] = pd.to_datetime(df['DATA'], format='%b%Y').dt.year

Don't take into account possible missing values when searching

[start:end:steps] -> [0::5]

Giving your dataset the form you want

#make columns and rows out of the lists you have
df.pivot(index='foo', columns='bar', values='baz')

#take a value from index and make it a column
df.melt

# Analysis

#### Calculating precentage change

In [5]:
# Thanasis' s Calculation pct_change from year to year to a series of columns
# new columns will have pct_change in the column name
def pct_cng2(data, column_names):
    '''
    Function to calculate pct_change from year to year to a series of columns
    new columns will have pct_change in the column name.
    data -> dataframe
    column_names -> list with the columns to be analyzed
    SOS- IT RETURNS THE NEW DATAFRAME
    '''
    for item in column_names:
        data[item + '_pct_change'] = round(data[item].pct_change(fill_method=None)*100,1)
    return data

In [ ]:
precentage_difference = ((column1 - column2)/((column1 + column2)/2))*100
precentage_difference

### .size()
#### Counting the number of elements along a given axis

df.groupby('column_name').size().reset_index()
or
df.groupby('column_name', as_index=False)['column_name2'].sum()

### The use of .apply(lambda x:), .agg(), and what is the money_parser

The <b>money_parser library</b> is a Python package used for parsing and converting various string representations of monetary values into numerical formats. <br>
The <b>price_str</b> function within this library serves the purpose of converting a string containing a monetary value into a numerical representation.

The <b>Decimal</b> class is a part of Python's built-in decimal module 
- Provides support for decimal floating-point arithmetic
- Unlike the standard floating-point representation (float), which uses binary fractions and is subject to rounding errors, the Decimal class represents numbers as base-10 fractions. <br> This makes Decimal particularly useful for applications where precision is critical, such as financial calculations.

In [3]:
from money_parser import price_str
from decimal import Decimal

In [4]:
def correct_prices(dirty_price):
    # This line checks if the dirty_price is not a NaN value
    # If dirty_price is not NaN, the function proceeds to correct the price
    if not pd.isna(dirty_price): 
        # 'price_str' converts the string representation of a monetary value into a numerical format
        amount_num = price_str(dirty_price) 
        #it converts it into a Decimal object
        amount_decimal = Decimal(str(amount_num)) 
        #The Decimal object is converted back to a floating-point number
        return float(amount_decimal)

#### df[column].apply(lambda x:):
- If you want to apply a function <b>to each element in a column individually</b><br>
- Works element-wise, applying the function to each value individually.<br>
- Useful for custom transformations or operations on individual elements.<br>
- Typically returns a Series with the same length as the original column, where each element is transformed by the function.<br>

#### df[column].agg():
- If you want to apply a function <b> to the entire column and get a single result</b>
- Aggregates (συγκεντρωτικά εφαρμόζει) the values in the column using the provided function. <br>
- Can handle aggregation functions that return a single value, such as mean, sum, min, max, etc.<br>
- Returns a single value or a Series of aggregated values, depending on the function provided.<br>

# in every price of the 'price' column, apply the function
df['cleaned_price'] = df['price'].apply(lambda x: correct_prices(x))

df.groupby(by=['neighbourhood_cleansed', 'many_properties']).agg({
    'many_properties':'sum',
    'cleaned_price':['median', 'mean']}).reset_index()

#### Fix the MultiIndex after agg()

In [ ]:
df.columns = list(map(''.join, df.columns.values))

#### For the Drought project

In [ ]:
# Just for the reference
# Keeping the columns with the Date and the index I want, for the month of October
oct_df=df[['DATA','SPEI_12']][df.DATA.str.contains('Oct',na=False)].reset_index(drop=True).copy()

# keeping the columns i need 
oct_df=oct_df[['year','SPEI_12']].reset_index(drop=True).copy()

# Keeping the year frome the date
oct_df['year'] = pd.to_datetime(oct_df['DATA'], format='%b%Y').dt.year

In [ ]:
# make a dataset with all the statistic information needed
gr_stats = gr_df.groupby('year').agg({'SPEI_12': ['median', 'mean']}).reset_index().copy()
# fix MultiIndex
gr_stats.columns = list(map(''.join, gr_stats.columns.values)) #important!
gr_stats = gr_stats.reset_index().drop(['index'], axis=1)
# find the value difference between the each year's perticipation
gr_stats['value_dif'] = gr_stats['SPEI_12median'].diff()

In [ ]:
p12 = gr_stats.plot(x='year',y='SPEI_12median',figsize=(10,5),rot=45, color='royalblue', alpha=.8, legend=True)

y_value = -1  
p12.axhline(y=-1, color='dimgray', linestyle='--', label=f'Y = {y_value}')
p12.axhline(y=0, color='dimgray',  label=f'Y = {y_value}')


p12.fill_between(gr_stats['year'], gr_stats['SPEI_12median'], y_value, where=(gr_stats['SPEI_12median'] < y_value),
                 interpolate=True, color='royalblue', alpha=0.5)
p12.set_title('Greece', fontweight='bold')
plt.suptitle('12-month average of SPEI', fontsize=11, color='dimgray', fontweight='bold')
# p12.legend()

# plt.savefig('greece_line.png')

In [ ]:
df.groupby('neighbourhood_cleansed')['many_properties'].value_counts(normalize=True)

In [ ]:
df_specific= df[(df.EVENT_TYPE=='Riots')|(df.EVENT_TYPE=='Protests')].copy()